<!doctype html>
<head>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet">
        <title>{{name}}'s Detailed Team Records</title>

</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{name}}'s Detailed Team Records </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      <li class="nav-item">
        <a class="nav-link" href="/predictions">Predictions</a>
      </li>
    </ul>

      </div>
</nav>
<div class="jumbotron">
    <h2>Picks:</h2>
    <img src={{team_1}} width="100" height="100" />
     <img src={{team_2}} width="100" height="100" />
     <img src={{team_3}} width="100" height="100" />
    <hr>
    <h2>Current Ranking: {{rank}}</h2>
    <hr>
    <h2>Team Records</h2>
  {% for table in team_table %}
    {{ table|safe }}
  {% endfor %}
    <hr>
    <h2>Win Pool Stats</h2>
    {% for table in agg_table %}
    {{ table|safe }}
  {% endfor %}

</div>