<!doctype html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet">
    <title>GAES NBA Win Live Standings</title>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">GAES NBA Win Live Standings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="jumbotron">

  <h1>NBA Wins Pool</h1>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
    <hr>
    <small><i>{{recent_date}}</i></small>
    <hr>
    <h1>Today's Games</h1>
      {% for table in scores_live %}
        {{ table|safe }}
      {% endfor %}

</div>